<footer>

<div class="footer-section">

  <div class="footer-logo">
    <a href="/" style="text-decoration: none;"><b>TRUE</b> RETRO</a>
  </div>


  <!-- social networks logos+links -->
  <div class="footer-icons-links">

    <div class="social-icons">
      <a href="https://www.facebook.com/" target="_blank">
        <i class="fa-brands fa-facebook fa-xl" style="color: #3367c1;"></i>
      </a>
      <a href="https://www.instagram.com/" target="_blank">
        <i class="fa-brands fa-square-instagram fa-xl" style="color: #c20f8a;"></i>
      </a>
      <a href="https://www.youtube.com/">
        <i class="fa-brands fa-youtube fa-xl" style="color: #db1f32;"></i>
      </a>
    </div>

    <div class="below-social-icons">
      <a href="/about" style="text-decoration: none;">About Us</a>
      <a href="/contact" style="text-decoration: none;"> Contact Us</a>
      <a href="/contact " style="text-decoration: none;"> Join Our Team</a>
    </div>

  </div>

</div>


</footer>