<header>

  <div class="header-section">

    <div class="logo">
      <a href="/" style="text-decoration: none;">LOGO</a>
    </div>

    <div>
      <button>Search</button>
    </div>

    <div class="wrapper">
      <div class="nav-buttons">
        <a href="/buy"><button>Buy a car</button></a>
        <a href="/sell"><button>Sell a car</button></a>
        <a href="/about"><button>About us</button></a>
        <a href="/contact"><button>Contact us</button></a>
      </div>

      <div class="user-auth">
        <a href="/login"><button>Login</button></a>
        <a href="/register"><button>Register</button></a>
      </div>
    </div>
  </div>


</header>
