<header>

  <div class="header-section">
    <h3>This is our header. Will be styled later.</h3>
    <a class="navbar-brand" href="/" style="text-decoration: none;">LOGO</a>
    <button>Search</button>
    <button>Buy a car</button>
    <button>Sell a car</button>
    <button>About us</button>
    <button>Contact us</button>
    <button>Login</button>
    <button>Register</button>
  </div>

</header>