<header>

  <div class="header-section">

    <div class="logo">
      <a href="/" style="text-decoration: none;"><b>TRUE</b> RETRO</a>
    </div>

    <div class="wrapper">
      <div class="nav-buttons">
        <a href="/" style="text-decoration: none;">HOME</a>
        <a href="/about" style="text-decoration: none;">ABOUT US</a>
        <a href="/contact" style="text-decoration: none;">CONTACT US</a>
     

      <div class="user-auth">
        <input type="text" placeholder="username">
        <input type="text" placeholder="password">
        <a href="/login"><button class="btn btn-light">Login</button></a>
      </div>
    </div>
  </div>
</div>

</header>
