<header>

  <div class="header-section">

    <div class="logo">
      <a href="/" style="text-decoration: none;"><b>TRUE</b> RETRO</a>
    </div>

    <div class="wrapper">
      <div class="nav-buttons">
        <div class="home-about-contact">
        <a href="/" style="text-decoration: none;">HOME</a>
        <a href="/about" style="text-decoration: none;">ABOUT US</a>
        <a href="/contact" style="text-decoration: none;">CONTACT US</a>
      </div>     

      <div class="user-auth">
        <input type="text" class="form-control col-md-3" placeholder="Username">
        <input type="text" class="form-control col-md-3" placeholder="Password">
        <a href="/login"><button class="btn btn-outline-primary">Login</button></a>
      </div>
    </div>
  </div>
</div>

</header>
