<header>

  <div class="header-section">

    <div class="logo">
      <a href="/" style="text-decoration: none;"><b>TRUE</b> RETRO</a>
    </div>

    <div class="wrapper">
      <div class="nav-buttons">
        <div class="home-about-contact">
        <a href="/" style="text-decoration: none;">HOME</a>
        <a href="/about" style="text-decoration: none;">ABOUT US</a>
        <a href="/contact_seller" style="text-decoration: none;">CONTACT US</a>
        <a href="/favorites" style="text-decoration: none;">FAVORITES</a>
      </div>


<!-- Admin/Seller authentication form -->

<% if (admin) { %>
  <p style="color: #2b77f9;">Logged in as: <b>Admin</b></p>
  <form action="/logout" method="POST">
    <button type="submit" class="btn btn-outline-secondary">Logout</button>
  </form>
<% } else if (user) { %>
  <p style="color: #2b77f9;">Logged in as: <b>User</b></p>
  <form action="/logout" method="POST">
    <button type="submit" class="btn btn-outline-secondary">Logout</button>
  </form>
<% } else { %>
  <form action="/login" method="POST">
    <div class="user-auth">
      <input type="text" name="email" id="email" class="form-control col-md-3" placeholder="Username">
      <input type="password" name="password" id="password" class="form-control col-md-3" placeholder="Password">
      <button type="submit" class="btn btn-outline-primary">Login</button>
    </div>
  </form>
<% } %>


</header>
