<header>

  <div class="header-section">
    <div class="logo">
      <a href="/" style="text-decoration: none;">LOGO</a>
    </div>

    <div>
      <button>Search</button>
    </div>

    <div class="wrapper">
      <div class="nav-buttons">
        <button>Buy a car</button>
        <button>Sell a car</button>
        <button>About us</button>
        <button>Contact us</button>
      </div>

      <div class="user-auth">
        <button>Login</button>
        <button>Register</button>
      </div>
    </div>
  </div>


</header>
