body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  background: rgb(163, 208, 219);
  background: linear-gradient(
    227deg,
    rgba(163, 208, 219, 1) 0%,
    rgba(163, 176, 219, 1) 20%,
    rgba(163, 173, 219, 1) 34%,
    rgba(163, 219, 208, 1) 59%,
    rgba(163, 208, 219, 1) 74%,
    rgba(163, 208, 219, 1) 100%
  );
}

header {
  min-height: 100vh;
  flex-direction: column;
  align-items: stretch;
}

.header-section {
  display: flex;
  align-items:center;
  justify-content: space-between;
  padding-bottom: 10px;
  width: 100vw;
  height: 100px;
  background-color: red;
}

.logo {
  margin-left: 1em;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: .5em;
}

.nav-buttons {
  display: flex;
  gap: 1em;
  margin-right: 1em;
}

.user-auth {
  display: flex;
  justify-content: flex-end;
  margin-right: 1em;
  gap: 1em;
}
